.container {
  width: 100%;
  position: relative;
}
.container img {
  width: 100%;
}

.textcontainer {
  position: absolute;
  top: 150px;
  left: 100px;
}
.textcontainer h1 {
  color: rgb(40, 40, 226);
  font-size: 7rem;
}
.textcontainer p {
  color: rgb(40, 40, 226);
  font-size: 4rem;
}

.textcontainer span {
  font-weight: bold;
  color: rgb(172, 74, 192);
}
